@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom fonts*/
/*neue regrade*/
/*light*/
@font-face {
	font-family: 'Neue Regrade';
	src: url('/fonts/NeueRegrade-Light.eot');
	src: url('/fonts/NeueRegrade-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NeueRegrade-Light.woff2') format('woff2'), url('/fonts/NeueRegrade-Light.woff') format('woff'),
		url('/fonts/NeueRegrade-Light.ttf') format('truetype'),
		url('/fonts/NeueRegrade-Light.svg#NeueRegrade-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
/*regular*/
@font-face {
	font-family: 'Neue Regrade';
	src: url('/fonts/NeueRegrade-Regular.eot');
	src: url('/fonts/NeueRegrade-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NeueRegrade-Regular.woff2') format('woff2'), url('/fonts/NeueRegrade-Regular.woff') format('woff'),
		url('/fonts/NeueRegrade-Regular.ttf') format('truetype'),
		url('/fonts/NeueRegrade-Regular.svg#NeueRegrade-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/*semi-bold-italic*/
@font-face {
	font-family: 'Neue Regrade';
	src: url('/fonts/NeueRegrade-SemiBold-Italic.eot');
	src: url('/fonts/NeueRegrade-SemiBold-Italic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NeueRegrade-SemiBold-Italic.woff2') format('woff2'),
		url('/fonts/NeueRegrade-SemiBold-Italic.woff') format('woff'),
		url('/fonts/NeueRegrade-SemiBold-Italic.ttf') format('truetype'),
		url('/fonts/NeueRegrade-SemiBold-Italic.svg#NeueRegrade-SemiBold-Italic') format('svg');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
/*semi-bold*/
@font-face {
	font-family: 'Neue Regrade';
	src: url('/fonts/NeueRegrade-Semibold.eot');
	src: url('/fonts/NeueRegrade-Semibold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NeueRegrade-Semibold.woff2') format('woff2'), url('/fonts/NeueRegrade-Semibold.woff') format('woff'),
		url('/fonts/NeueRegrade-Semibold.ttf') format('truetype'),
		url('/fonts/NeueRegrade-Semibold.svg#NeueRegrade-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
/*medium*/
@font-face {
	font-family: 'Neue Regrade';
	src: url('/fonts/NeueRegrade-Medium.eot');
	src: url('/fonts/NeueRegrade-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NeueRegrade-Medium.woff2') format('woff2'), url('/fonts/NeueRegrade-Medium.woff') format('woff'),
		url('/fonts/NeueRegrade-Medium.ttf') format('truetype'),
		url('/fonts/NeueRegrade-Medium.svg#NeueRegrade-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
/*medium-italic*/
@font-face {
	font-family: 'Neue Regrade';
	src: url('/fonts/NeueRegrade-Medium-Italic.eot');
	src: url('/fonts/NeueRegrade-Medium-Italic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NeueRegrade-Medium-Italic.woff2') format('woff2'),
		url('/fonts/NeueRegrade-Medium-Italic.woff') format('woff'),
		url('/fonts/NeueRegrade-Medium-Italic.ttf') format('truetype'),
		url('/fonts/NeueRegrade-Medium-Italic.svg#NeueRegrade-Medium-Italic') format('svg');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
/*regular*/
@font-face {
	font-family: 'Neue Regrade';
	src: url('/fonts/NeueRegrade-Regular_1.eot');
	src: url('/fonts/NeueRegrade-Regular_1.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NeueRegrade-Regular_1.woff2') format('woff2'), url('/fonts/NeueRegrade-Regular_1.woff') format('woff'),
		url('/fonts/NeueRegrade-Regular_1.ttf') format('truetype'),
		url('/fonts/NeueRegrade-Regular_1.svg#NeueRegrade-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/*regular-italic*/
@font-face {
	font-family: 'Neue Regrade';
	src: url('/fonts/NeueRegrade-Regular-Italic.eot');
	src: url('/fonts/NeueRegrade-Regular-Italic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NeueRegrade-Regular-Italic.woff2') format('woff2'),
		url('/fonts/NeueRegrade-Regular-Italic.woff') format('woff'),
		url('/fonts/NeueRegrade-Regular-Italic.ttf') format('truetype'),
		url('/fonts/NeueRegrade-Regular-Italic.svg#NeueRegrade-Regular-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
/*bold*/
@font-face {
	font-family: 'Neue Regrade';
	src: url('/fonts/NeueRegrade-Bold.eot');
	src: url('/fonts/NeueRegrade-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NeueRegrade-Bold.woff2') format('woff2'), url('/fonts/NeueRegrade-Bold.woff') format('woff'),
		url('/fonts/NeueRegrade-Bold.ttf') format('truetype'),
		url('/fonts/NeueRegrade-Bold.svg#NeueRegrade-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
/*bold-italic*/
@font-face {
	font-family: 'Neue Regrade';
	src: url('/fonts/NeueRegrade-Bold-Italic.eot');
	src: url('/fonts/NeueRegrade-Bold-Italic.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NeueRegrade-Bold-Italic.woff2') format('woff2'),
		url('/fonts/NeueRegrade-Bold-Italic.woff') format('woff'),
		url('/fonts/NeueRegrade-Bold-Italic.ttf') format('truetype'),
		url('/fonts/NeueRegrade-Bold-Italic.svg#NeueRegrade-Bold-Italic') format('svg');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

/*rota-regular*/
@font-face {
	font-family: 'Rota';
	src: url('/fonts/Rota-Regular.eot');
	src: url('/fonts/Rota-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Rota-Regular.woff2') format('woff2'), url('/fonts/Rota-Regular.woff') format('woff'),
		url('/fonts/Rota-Regular.ttf') format('truetype'), url('/fonts/Rota-Regular.svg#Rota-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	@apply bg-bglight;
}

.nav {
	@apply h-20 w-svw px-5 py-4 flex flex-row justify-between bg-bglight fixed top-0;
}

.nav-logo {
	@apply w-4;
}

.nav-logo-title {
	@apply text-pretty;

	a {
		@apply font-bold italic text-lg;
		font-family: 'Neue Regrade', sans-serif;
	}
}

.hamburger {
	@apply w-16 p-1 cursor-pointer;
	@apply md:hidden;
}

.hamburger-line {
	@apply h-[.35rem] mt-[.35rem] mx-auto left-0 bg-bgdark;
}

.line-1 {
	@apply w-12;
	transition: all 0.3s;
}

.line-2 {
	@apply w-9;
	transition: all 0.3s;
}

.line-3 {
	@apply w-7;
	transition: all 0.3s;
}

.hamburger:hover .hamburger-line .active {
	animation: none;
}

.active .line-1 {
	@apply right-[0.75px];
	transform: rotate(-58deg) translate(-13px, 10px);
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(-500px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.mobile-nav {
	@apply left-0 fixed mt-2 hidden p-14;
	@apply md:hidden;
}

.mobile-nav.active {
	animation: slideInFromLeft 2s cubic-bezier(0.19, 1, 0.22, 1);
	@apply flex flex-col mt-16 h-svh w-svw z-20 bg-bgdark;
}

.mobile-nav-link {
	@apply hidden;
}
.mobile-nav-link.active {
	animation: slideInFromBottom 2.5s cubic-bezier(0.19, 1, 0.22, 1);
	@apply flex text-[2.5rem] font-semibold text-textLight relative;
}

.mobile-nav-list-item {
	@apply text-[2.5rem] mt-11 font-semibold text-textLight;
	font-family: 'Neue Regrade', sans-serif;
}

.mobile-nav-link-list {
	.mobile-nav-link-internationalization {
		@apply flex mt-11;
	}
}

.introduction {
	@apply mt-52 mx-5;
}

.introduction-chip {
	font-family: 'Rota', sans-serif;
	@apply font-normal text-base tracking-[0.2em] border-[1px] pb-2 pt-3 px-6 rounded-full text-textDark;
}

.introduction-content {
	@apply flex flex-col mt-6;
}

.title {
	@apply text-[2.75rem] font-bold tracking-wider text-textDark;
	font-family: 'Neue Regrade', sans-serif;
}

.introduction-text {
	@apply mt-28 text-lg leading-relaxed text-textDark;
	font-family: 'Rota', sans-serif;
}

.introduction-arrow {
	@apply flex flex-col items-center mt-36 animate-bounce z-[1] relative;
}

.introduction-arrow-title {
	font-family: 'Rota', sans-serif;
	transform: rotate(90deg);
	@apply mb-4 font-medium text-textDark;
}
/* ! question.
	Why does the arrow apears over the active mobile navigation,
  although the arrow has a lower z-index than nav?
*/
.introduction-arrow-down-svg {
	@apply mt-7 mb-1;
}

.story {
	@apply mx-5;
}

.story-title {
	@apply mt-24;
}

.story-text {
	@apply mt-14 text-lg leading-relaxed text-textDark;
	font-family: 'Rota', sans-serif;
}
